<main class="py-5 px-4">
  <div class="container w-80">
    <h2 class="fw-bold">New flat</h2>
    <%= render 'form', flat: @flat, update: false %>
    <%= link_to 'Cancel', root_path, class: 'btn btn-light' %>
  </div>
</main>
